@font-face {
  font-family: Nasalization;
  src: url(../fonts/nasalization-rg.otf);
}

:root {
  --color_day: #333333c0;
  --color_night: #151515;
  
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: 0;

}

#layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
  z-index: 3;
}

#videoWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  position: absolute;
}
#backgroundVideo{
  width: 100%;
  z-index: -1;
}

header{
    background-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.607));
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: Nasalization;
}

#content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "location0 location90"
    "location0 location180"
    "location0 location270";
}

#location0,
.locationMini {
  background-color: #111111cc;
  margin: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 5px 5px 10px #111111;
  backdrop-filter: blur(3px);
  .locationLabel {
    grid-area: title;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
  }
}
.locationMini:hover,
#location0:hover{
}

#location0 {
  grid-area: location0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas: 
  "image image" 
  "title widget";
  
}
#imgSkyWeather{
    grid-area: image;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px -10px 5px inset var(--color_day);
    background-size: cover;
}
.day_clear_sky{
    background-image: url(../images/img/weather/d_clear_sky.jpg);
}

.weatherWidget {
    grid-area: widget;
  padding: 20px;
    display: flex;
}

.locationMini {
  padding: 20px;
  display: flex;
}
.weatherWidgetMini {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.weatherIconMini{
    flex-grow: 2;
}
.timeDigitsMini,
.temperatureDigitsMini{
    flex-grow: 1;
}

#location90 {
  grid-area: location90;
}
#location180 {
  grid-area: location180;
}
#location270 {
  grid-area: location270;
}

footer{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #111111;
    color: rgb(131, 44, 144);
    a{
        padding-inline: 5px;
        color: white;
    }
}